<!-- *xml* -->
<launch>

    <master auto="start"/>
    <!--run move_controller -->
    <node pkg="move_controller" type="move_controller" name="move_controller" output="screen" />
    
    <!--run speed_node-->
    <node pkg="move_controller" type="speed_node" name="speed_node" output="screen" />
    
    <!--run wheel odom node -->
    <node pkg="move_controller" type="wheelOdom_node" name="wheelOdom_node" output="screen" />
    
    
</launch>
